<div class="title-bar">
    <div class="row">
        <div class="logo-area col-sm-6">
            <img class="logo" ng-src="images/cook-book-logo.png" />
            <div class="title-area">
                <p class="logo-title">Cook Book</p>
                <p class="logo-subtitle">Now Eat This</p>
            </div>
        </div>
        <div class="right-side-controls col-sm-6">
            <div>
                <button class="btn btn-primary btn-lg">Button 1</button>
                <button class="btn btn-success btn-lg">Button 2</button>
                <button class="btn btn-warning btn-lg">Button 3</button>
            </div>
        </div>
    </div>
</div>