<div class="menu-area" ng-controller="MenuController" ng-show="isMenuOpen()">
    <ul class="menu" ng-repeat="item in items">
        <li class="selectable-item" ng-click="navigateTo(item)">
            <div class="no-select">
                <i class="fa fa-{{ item.icon }} menu-icon" aria-hidden="true"></i>
                <span>{{ item.title }}</span>
            </div>
            <i class="fa fa-2x fa-caret-left menu-selected-marker" ng-if="item == selectedItem"></i>
        </li>
    </ul>
</div>